In [18]:
'''Assuming that we have some email addresses in the "username@companyname.com" format, please write program
to print the company name of a given email address. Both user names and company names are composed of letters
only.'''
s='prashanth@google.com'
name = s.index("@")
s_id = s[:name]
print(s_id)

prashanth

In [19]:
'''Write a program that accepts a comma-separated sequence of words as input and prints the words in a comma
separated sequence after sorting them alphabetically.'''
a = ('without','hello','bag','world')
x = sorted(a)
print(x)

['bag', 'hello', 'without', 'world']

In [27]:
'''Given a list of n-1 numbers ranging from 1 to n, your task is to find the missing number. There are no duplicates'''
def MissingNo(a): 
    n = len(a) 
    total = (n + 1)*(n + 2)/2
    sum_of_A = sum(a) 
    return total - sum_of_A 
a = [1, 2, 4, 6, 3, 7, 8]  
miss = MissingNo(a) 
print(miss)

5.0

In [29]:
'''With a given list L, write a program to print this list L after removing all duplicate values with original order reserved'''
def Remove(dup): 
	f_list = [] 
	for num in dup: 
		if num not in f_list: 
			f_list.append(num) 
	return f_list 
	
dup = [12, 24, 35, 24, 88, 120, 155, 88, 120, 155] 
print(Remove(dup))

[12, 24, 35, 88, 120, 155]

Create your own Jupyter Notebook for Sets
Am using google colab